.Navbar {
    color: white;
  position: absolute;
  top: 0;
  right: 0;
  width: max-content;
  height: 50px;
  border-radius: 0 20px;
  padding: 0 10px;
  align-items: center;
  box-shadow: none;
  background-color: #282829;
  border: 1px solid hsla(240, 2%, 90%, 0.233);

  gap: 20px;
  display: flex;
  box-shadow: none;
}

.Links{
    color: white;
    text-decoration: none;

    transition: 0.5s ;
}



.Links:hover{
    color: rgb(16, 120, 218)  ;
    padding: 2px;
    border:2px solid #161616;
    border-radius: 10px;
    transform: translate(20px, 10px) rotate(15deg) scale(1.2);
}

