.Box-assunto {
    color: white;
  background: #1e1e1f;
  backdrop-filter: blur(12px);
  border: 1px solid hsla(240, 2%, 90%, 0.233);
  border-radius: 25px;
  padding: 2.5rem 2rem;
  width: 90rem;
  height: 50rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);

    
}
